div.MuiInputBase-root {
    border-radius: var(--radius);
    border: 0.3rem solid var(--main-color);
    font-size: 2.5rem;

    fieldset {
        border: none;
    }
    & > .MuiSelect-select {
        padding: 0;
        padding-left: 0.5rem;
    }
}

.MuiCard-root {
    border-radius: 10px;
    border: 0.3rem solid var(--main-color);
}

.MuiPaper-root {
    background-color: rgb(var(--bg-color-rgb));
}

.MuiMenuItem-root {
    font-size: 1.5rem;
}

button.MuiButtonBase-root {
    font-size: 3rem;
    color: var(--main-color);
    background-color: rgba(var(--bg-color-rgb), 0.4);
    box-shadow: none;
    border-radius: var(--radius);
    border: 0.3rem solid;
    border-color: var(--main-color);
    line-height: 1;

    &[data-checked="true"] {
        border: 0.3rem solid var(--white-main-color);
    }

    &:focus {
        outline: 2px solid #475569;
    }

    &:hover {
        border-color: var(--main-color);
        background-color: rgba(var(--bg-color-rgb), 0.8);
        border: 0.3rem solid;
    }

    &:disabled {
        border-color: var(--disabled-color);
        background-color: rgba(var(--disabled-color-rgb), 0.6);
    }
}
