:root {
    --main-color: #0f172a;
    --white-main-color: #d1d5db;
    --main-color-rgb: 15, 23, 42;
    --bg-color-rgb: 255, 255, 255;
    --disabled-color: #334155;
    --disabled-color-rgb: 51, 65, 85;
    --radius: 0.5rem;

    --easy-color: #84cc16;
    --impossible-color: #dc2626;

    --hp-color: #b91c1c;
    --sp-color: #0891b2;
}
