:root {
    --main-color: #0f172a;
    --white-main-color: #f3f4f6;
    --bg-color-rgb: 255, 255, 255;
    --disabled-color: #334155;
    --disabled-color-rgb: 51, 65, 85;
    --radius: 255px 15px 225px 15px/15px 225px 15px 255px;

    --easy-color: #84cc16;
    --impossible-color: #dc2626;
}
