.modal {
    max-width: 40vw;
    max-height: 60vh;
    background-color: rgba(var(--bg-color-rgb), 0.4);
    border-radius: var(--radius);
    border: 0.3rem solid var(--main-color);
    position: fixed;
    outline: none;
    padding: 2rem;
}
