.bg0 {
  background: url("./bg/bg0.png") center center no-repeat;
  background-size: cover;
}

.bg1 {
  background: url("./bg/bg1.png") center center no-repeat;
  background-size: cover;
}

.menu-block {
  position: fixed;
  bottom: 10rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
