.Menu {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg1 {
  background: url("./bg/bg1.png") center center;
}

.bg2 {
  background: url("./bg/bg2.png") center center;
}
