#menu-button {
    font-size: 3rem !important;
    color: var(--main-color);
    background-color: rgba(var(--bg-color-rgb), 0.4);
    box-shadow: none;
    border-radius: var(--radius);
    border: 0.3rem solid var(--main-color);
    line-height: 1;

    &:focus {
        outline: 2px solid #475569;
    }

    &:hover {
        background-color: rgba($color: #ffffff, $alpha: 0.8);
    }

    &:disabled {
        border-color: var(--disabled-color);
        color: var(--disabled-color);
        background-color: rgba(var(--disabled-color-rgb), 0.6);
    }
}
