@import "./app/styles/variables.scss";
@import "./app/styles/global.scss";
@import "./app/styles/mui.scss";

:root {
  font-family: "Neucha", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1vw;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 1);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: "Oswald", system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  outline: none;
  font-size: 2rem;
  user-select: none;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
